#GEMINI API
GOOGLE_API_KEY=tu_key_de_gemini

#SUPABASE KEY
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key

# WhatsApp Cloud API
WHATSAPP_VERIFY_TOKEN=tu_token_secreto_de_verificacion
WHATSAPP_ACCESS_TOKEN=tu_access_token_de_meta
WHATSAPP_PHONE_NUMBER_ID=tu_phone_number_id